.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loader {
  margin: auto !important;
}

.logo {
  font-size: 31px;
  margin: 12px 0;
}

.container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 1220px;
}

.left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  position: sticky;
  top: 0;
  width: 20%;
}

.twtBtn {
  margin-top: 16px;
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.userBox {
  margin: 10px 0;
}

.main {
  width: 50%;
}

.right {
  width: 30%;
}
