@import "./variables";

.profileBox {
  background-color: transparent;
  border: none;
  border-radius: 60px;
  display: flex;
  height: 60px;
  padding: 5px;
  transition: background-color 0.5s;
  width: 100%;

  &:hover {
    background-color: $hover-color-dark;
    cursor: pointer;
  }
}

.icon {
  border-radius: 50%;
}

.userInfo {
  width: calc(100% - 90px);
  margin-left: 10px;
  text-align: left;
}

.displayName,
.userName {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.more {
  display: inline-flex;
  font-size: 24px;
  align-items: center;
}
